/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
}

li,
a {
  font-size: 20px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 5%;
}

.logo {
  height: 5%;
  width: 30%;
  margin-right: auto;
  cursor: pointer;
}

.nav-link {
  list-style: none;
}
.nav-link li {
  display: inline-block;
  padding: 0px 15px;
}

.nav-link li a {
  transition: all 0.3s ease 0s;
}
.nav-link li a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(82, 71, 71);
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  text-indent: 6.5%;
  line-height: 1.5;
  border-top: 10px;
}

h3 {
  font-size: 25px;
  text-indent: 6.5%;
  line-height: 1.5;
}

p {
  font-size: 20px;
  text-indent: 6.5%;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.flex div {
  flex: 1 1 400px;
  justify-content: space-between;
  margin: 20px 40px;

  transition: 0.5s;
}

.flex div:hover {
  transform: scale(1.3);
  z-index: 2;
  cursor: pointer;
}

.contact-format {
  display: flex;
  margin-left: 6.5%;
  height: 200px;
  width: 200px;
}

footer p {
  font-size: 15px;
  position: relative;
  height: 30px;
  color: #fff;
  background-color: black;
  padding: 10px;
  clear: both;
  text-align: center;
}
